<!DOCTYPE html>
<html>
<head>
    <title>Machine Failure Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="container">

    <h1>⚙️ Machine Failure Predictor</h1>

    <input id="air" placeholder="Air Temperature (K)">
    <input id="process" placeholder="Process Temperature (K)">
    <input id="speed" placeholder="Rotational Speed (rpm)">
    <input id="torque" placeholder="Torque (Nm)">
    <input id="wear" placeholder="Tool Wear (min)">

    <button onclick="predict()">Predict</button>
    

    <div id="result"></div>

    <div class="progress-bar">
        <div id="progress-fill"></div>
    </div>

    <canvas id="chart"></canvas>
    <canvas id="barChart"></canvas>
    <canvas id="importanceChart"></canvas>

</div>

<script src="/static/script.js"></script>
</body>
</html>